RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        0
      ],
      "id": "e57d3b35-8926-4a94-936c-d5a7847a4ab0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        720,
        0
      ],
      "id": "50d968a9-b92d-4163-94e6-8b79404ee784",
      "name": "Base Vetorial",
      "credentials": {
        "supabaseApi": {
          "id": "m9QaCl6i2Z2CftcK",
          "name": "TeddBROWN"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "batchSize": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        176
      ],
      "id": "4e354c50-95b0-4a0f-abea-204e16bcb6bb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TiYAsRRHI32uUHqd",
          "name": "teste felpie"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "category",
                "value": "={{ $json.category }}"
              },
              {
                "name": "subcategory",
                "value": "={{ $json.subcategory }}"
              },
              {
                "name": "concept",
                "value": "={{ $json.concept }}"
              },
              {
                "name": "source",
                "value": "={{ $json.source }}"
              },
              {
                "name": "quote",
                "value": "={{ $json.quote }}"
              },
              {
                "name": "author",
                "value": "={{ $json.author }}"
              },
              {
                "name": "framework",
                "value": "={{ $json.framework }}"
              },
              {
                "name": "negative_example",
                "value": "={{ $json.negative_example }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        928,
        112
      ],
      "id": "79b73c46-9e84-4385-ba80-38e581d6b5d4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d864ba00-472f-4e47-a2b0-3439749d79f4",
              "name": "=a",
              "value": "=[\n  {\n    \"content\": \"A metodologia de Todd Brown redefine o profissional de marketing como um 'arquiteto de crenças'. A filosofia não se baseia em táticas isoladas, mas em uma abordagem coesa sobre a natureza da persuasão.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"filosofia_todd\",\n      \"concept\": \"crenca_vs_desejo\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Filosofia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"O objetivo do marketing é tornar a venda supérflua. O processo é projetado para transformar o desejo latente por um resultado em uma demanda de compra intensa por um produto específico, muitas vezes antes mesmo que o produto seja mencionado.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"filosofia_todd\",\n      \"concept\": \"crenca_vs_desejo\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Filosofia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"A 'Analogia do Promotor' é a metáfora central. O prospecto é o júri. O objetivo não é 'vender', mas apresentar uma sequência de evidências (alegações e provas) de forma tão lógica que o júri chegue à conclusão por conta própria, como um resultado inevitável.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"filosofia_todd\",\n      \"concept\": \"analogia_do_promotor\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Filosofia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"O 'Princípio 75/25' dita que aproximadamente 75% da mensagem (VSL) deve ser dedicada ao 'marketing' — educar o prospecto e instalar crenças, sem menção ao produto. Apenas os 25% finais são dedicados à 'venda', introduzindo o produto como a conclusão lógica.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"filosofia_todd\",\n      \"concept\": \"principio_75_25\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Filosofia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Uma mensagem persuasiva deve usar a 'Comunicação de Cérebro Duplo': ser simultaneamente 'Intelectualmente Interessante' (nova, fresca, provoca 'Aha!') e 'Emocionalmente Cativante' (ressoa com desejos, medos e esperanças).\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"filosofia_todd\",\n      \"concept\": \"cerebro_duplo_comm\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Filosofia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"A metodologia foca em ser 'diferente' em vez de meramente 'melhor'. O objetivo é invalidar a premissa da concorrência, criando efetivamente um mercado de um só.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"principios_core\",\n      \"concept\": \"diferenciacao_real\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Filosofia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"O E5 Campaign Architecting Framework é o plano operacional macro, um processo sequencial de 5 estágios para construir uma campanha de aquisição de clientes do zero, minimizando o risco.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_definicao_geral\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Estágio 1 do E5: Examine. Esta é a fase de pesquisa pura e é o primeiro e mais crítico estágio. A falha aqui quase garante o fracasso.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_1_examine\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"E5 Examine (Prospecto): O objetivo é obter uma compreensão profunda dos desejos, dores e, o mais importante, das crenças existentes do prospecto. O marketing lucrativo deve começar a partir das crenças existentes, não das que o profissional de marketing deseja que eles tenham.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_1_examine\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"E5 Examine (Produto): Análise interna para identificar a Promessa Primária, o Mecanismo Único e a Proposta de Venda Única (USP).\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_1_examine\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"E5 Examine (Concorrência): Analisar promessas, mecanismos e ofertas dos concorrentes para entender a 'Sofisticação do Mercado. Saber o que já foi dito permite que a nova mensagem seja posicionada como genuinamente nova e fresca.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_1_examine\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Estágio 2 do E5: Engineer. Os insights da fase de Exame são transformados nos ativos centrais da campanha. As atividades chave incluem: Desenvolver a Grande Ideia (BMI), delinear a Tese do Funil, nomear o Mecanismo Único (UM) e criar a Oferta 'SIN'.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_2_engineer\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Regra Crítica do 'Engineer' (E5): O desenvolvimento da oferta precede a redação do copy. A oferta é o motor que impulsiona a mensagem; o copy é escrito para justificar a oferta\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_2_engineer\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Estágio 3 do E5: Evaluate. O objetivo é confirmar rapidamente a viabilidade da ideia central com o mínimo de risco. Isso é feito lançando um Funil Mínimo Viável (MVF) para um pequeno segmento de tráfego para validar métricas de base.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_3_evaluate\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Estágio 4 do E5: Enhance. Após um teste positivo do MVF, a campanha entra na fase de construção completa e otimização. Isso envolve construir todos os elementos (upsells, e-mails) e iniciar testes A/B sistemáticos.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_4_enhance\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Estágio 5 do E5: Expand. Começa quando o funil atinge o ponto de equilíbrio (break-even) ou melhor. O objetivo é direcionar o máximo de tráfego qualificado para a campanha comprovada, usando um ciclo contínuo de 'expandir e avaliar'.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_5_expand\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Armadilha Comum da Fase 'Examine': Assumir que conhece o seu prospecto. Copiar as alegações dos concorrentes em vez de identificar lacunas.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_1_examine\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": true\n    }\n  },\n  {\n    \"content\": \"Armadilha Comum da Fase 'Engineer': Começar com uma ideia fraca. Desenvolver o copy antes da oferta.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_2_engineer\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": true\n    }\n  },\n  {\n    \"content\": \"Armadilha Comum da Fase 'Evaluate': Construir o funil completo antes de testar a ideia. Ignorar dados negativos do teste.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_3_evaluate\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": true\n    }\n  },\n  {\n    \"content\": \"Armadilha Comum da Fase 'Enhance': Otimizar elementos de baixo impacto ('testar coisas que sussurram').\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_4_enhance\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": true\n    }\n  },\n  {\n    \"content\": \"Armadilha Comum da Fase 'Expand': Escalar muito rapidamente sem monitorizar o ROI. Ter uma mentalidade de 'orçamento' em vez de uma mentalidade de investimento.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"e5_stage_5_expand\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": true\n    }\n  },\n  {\n    \"content\": \"A Grande Ideia de Marketing (BMI) é a alma da campanha. Não é um slogan, promessa ou título, mas a única ideia unificadora por trás da mensagem.\",\n    \"metadata\": {\n      \"category\": \"BIG_IDEA\",\n      \"subcategory\": \"definicao\",\n      \"concept\": \"o_que_eh_big_idea\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Big Idea\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Uma BMI deve ser 'Intelectualmente Interessante' (desafia crenças) e 'Emocionalmente Cativante' (ressoa com desejos).\",\n    \"metadata\": {\n      \"category\": \"BIG_IDEA\",\n      \"subcategory\": \"definicao\",\n      \"concept\": \"o_que_eh_big_idea\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Big Idea\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Os 'Critérios da Marreta' para uma BMI: 1. Nova, Única e Diferente. 2. Oportuna e Fresca. 3. Instantaneamente Compreensível. 4. Ter 'Impacto de Marreta' (interrompe o pensamento).\",\n    \"metadata\": {\n      \"category\": \"BIG_IDEA\",\n      \"subcategory\": \"criterios\",\n      \"concept\": \"criterios_definicao\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Big Idea\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Princípio da BMI: 'Melhor nem sempre chama a atenção. Diferente chama'. A diferenciação é fundamental.\",\n    \"metadata\": {\n      \"category\": \"BIG_IDEA\",\n      \"subcategory\": \"criterios\",\n      \"concept\": \"novidade\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Big Idea\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Diferença: O 'Gancho' (Hook) é o dispositivo tático (ex: história) usado para introduzir a BMI. A BMI é o conceito estratégico maior.\",\n    \"metadata\": {\n      \"category\": \"BIG_IDEA\",\n      \"subcategory\": \"definicao\",\n      \"concept\": \"big_idea_vs_slogan\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Big Idea\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Diferença: A 'Promessa' é o resultado (ex: 'perder 10 quilos'). A BMI é o contexto único que torna essa promessa credível de uma nova maneira.\",\n    \"metadata\": {\n      \"category\": \"BIG_IDEA\",\n      \"subcategory\": \"definicao\",\n      \"concept\": \"big_idea_vs_promessa\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Big Idea\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"O Mecanismo Único (UM) é o cérebro lógico da campanha; a explicação de 'como' os resultados são alcançados.\",\n    \"metadata\": {\n      \"category\": \"MECANISMO_UNICO\",\n      \"subcategory\": \"definicao\",\n      \"concept\": \"o_que_eh_mecanismo_unico\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Unique Mechanism\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"A função psicológica do UM é dar ao prospecto cético uma nova 'esperança', convencendo-o de que 'desta vez será diferente' porque o método é diferente de tudo o que ele já tentou.\",\n    \"metadata\": {\n      \"category\": \"MECANISMO_UNICO\",\n      \"subcategory\": \"definicao\",\n      \"concept\": \"psicologia_da_esperanca\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Unique Mechanism\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Armadilha do Mecanismo de Commodity: Nunca construir uma campanha em torno de um mecanismo de commodity (ex: 'magnésio'). Isso leva ao 'Tapa do Google' (Google Slap): o prospecto pesquisa a commodity no Google e compra do concorrente mais barato.\",\n    \"metadata\": {\n      \"category\": \"MECANISMO_UNICO\",\n      \"subcategory\": \"exemplos\",\n      \"concept\": \"mecanismos_fracos\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Unique Mechanism\",\n      \"negative_example\": true\n    }\n  },\n  {\n    \"content\": \"A contramedida para o 'Google Slap' é usar um mecanismo proprietário e nomeado (ex: 'a nossa Matriz Magne-Boost™').\",\n    \"metadata\": {\n      \"category\": \"MECANISMO_UNICO\",\n      \"subcategory\": \"aplicacao\",\n      \"concept\": \"naming_mecanismo\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Unique Mechanism\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Classe 1 de UM: Existente. Usado quando o produto possui um componente genuinamente único e proprietário, como um ingrediente patenteado. É a forma mais forte, mas a mais rara.\",\n    \"metadata\": {\n      \"category\": \"MECANISMO_UNICO\",\n      \"subcategory\": \"aplicacao\",\n      \"concept\": \"classes_de_mecanismo\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Unique Mechanism\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Classe 2 de UM: Não Dito (Unspoken). Usado quando um componente, embora comum na indústria, não está sendo discutido pelos concorrentes. Ao trazê-lo à luz, torna-se único na mente do prospecto (ex: campanha da cerveja Schlitz).\",\n    \"metadata\": {\n      \"category\": \"MECANISMO_UNICO\",\n      \"subcategory\": \"aplicacao\",\n      \"concept\": \"classes_de_mecanismo\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Unique Mechanism\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Classe 3 de UM: Transubstanciado. O ato de pegar um processo comum e transformá-lo em algo extraordinário através de um nome proprietário e enquadramento único (ex: 'Tripwire'). Deve envolver uma 'nova reviravolta' genuína, não apenas um nome extravagante.\",\n    \"metadata\": {\n      \"category\": \"MECANISMO_UNICO\",\n      \"subcategory\": \"aplicacao\",\n      \"concept\": \"mecanismo_transubstanciado\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Unique Mechanism\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"A 'Oferta SIN' é um acrónimo para uma oferta que deve ser Superior, Irresistível e um Não-Cérebro (No-brainer). O objetivo é construir uma proposta de valor tão desequilibrada que o cliente se sinta um 'idiota por deixar passar'.\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"oferta\",\n      \"concept\": \"oferta_sin\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Os 6 componentes de uma Oferta SIN: 1. Características e Entregáveis, 2. Benefícios, 3. Preço, 4. Termos (ex: parcelamento), 5. Prémios/Bónus, 6. Reversão de Risco (Garantia).\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"oferta\",\n      \"concept\": \"stack_valor\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Papel Estratégico dos Bónus: Bónus não são sobras. Devem ser tão valiosos e congruentes que os prospectos estariam dispostos a pagar por eles separadamente. Idealmente, alguns clientes comprarão o produto principal apenas para obter os bónus.\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"oferta\",\n      \"concept\": \"bonus_estrategicos\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"A 'Tese do Funil de Marketing' é a crença singular e abrangente que um prospecto DEVE aceitar no final da mensagem para ver o produto como a única e melhor solução.\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"historia\",\n      \"concept\": \"tese_de_marketing\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"A Tese transforma um desejo genérico (ex: 'quero perder peso') numa demanda específica (ex: 'preciso do método que regula a enzima X').\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"historia\",\n      \"concept\": \"tese_de_marketing\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"A Tese principal é dividida em 'Sub-Crenças'. As Sub-Crenças são as alegações individuais e provas que, apresentadas em sequência, levam o prospecto a aceitar automaticamente a Tese principal. A VSL é a dramatização desta cadeia lógica.\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"historia\",\n      \"concept\": \"construir_crenca\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Exemplo de Sub-Crenças (para a Tese da 'enzima X'): 1. 'As dietas tradicionais falham porque ignoram a enzima X' (Invalida concorrência). 2. 'A enzima X é o principal regulador metabólico' (Introduz problema). 3. 'A regulação só pode ser alcançada com os nutrientes A, B, C' (Introduz solução).\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"historia\",\n      \"concept\": \"construir_crenca\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"A BMI é o veículo narrativo (o 'gancho') usado para introduzir a Tese de forma cativante. O Mecanismo Único (UM) está frequentemente no centro da Tese; a Tese procura provar a superioridade do UM.\",\n    \"metadata\": {\n      \"category\": \"BIG_IDEA\",\n      \"subcategory\": \"criterios\",\n      \"concept\": \"mecanismo_integrado\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Big Idea\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"A 'Sofisticação do Mercado' dita o argumento. Num mercado pouco sofisticado, a promessa pode ser direta. Num mercado altamente sofisticado (cético), o argumento não pode começar com uma promessa; deve começar com uma nova ideia (a BMI) e focar-se em provar o Mecanismo Único.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"principios_core\",\n      \"concept\": \"problem_vs_solution_aware\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Uma 'Interrupção de Padrão' (Pattern Interrupt) é usada no início de uma VSL para quebrar o estado mental cético do espectador. É algo inesperado, como um gráfico estranho ou pergunta provocadora. Táticas como vídeos 'Doodle' já foram eficazes, mas tornaram-se comuns e perderam o seu poder.\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"lead\",\n      \"concept\": \"hook_primeiros_10s\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"VSL\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"O 'Método VSL Educacional' envolve entregar valor genuíno nos 75% iniciais da VSL. Ao ensinar algo útil, a VSL treina o prospecto a consumir o conteúdo sem 'filtros de venda' ativados, construindo confiança e reciprocidade.\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"historia\",\n      \"concept\": \"vsl_educacional\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"VSL\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"O 'Motor Económico' é a Equação de Dois Lados: Lado 1: Custo por Aquisição (CAC) - quanto custa adquirir um cliente. Lado 2: Valor Médio do Pedido (AOV) - quanto um novo cliente gasta na transação inicial.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"principios_core\",\n      \"concept\": \"motor_economico_cac_aov\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Economia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"O objetivo de um funil de front-end é muitas vezes atingir o ponto de equilíbrio (break-even), onde o CAC é igual ao AOV. A empresa adquire novos clientes 'de graça', com o lucro real vindo do back-end.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"principios_core\",\n      \"concept\": \"motor_economico_cac_aov\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Economia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"A 'Mentalidade de Investidor' foca no Valor Vitalício do Cliente (CLV). Ao compreender o CLV, uma empresa pode estar disposta a perder dinheiro na aquisição inicial (CAC > AOV), sabendo que o lucro será recuperado ao longo do tempo.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"principios_core\",\n      \"concept\": \"mentalidade_investidor_clv\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Economia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Princípio da Escala: 'Aquele que pode dar-se ao luxo de pagar mais para adquirir um cliente, vence'. Um AOV mais alto (de uma VSL melhor) permite um CAC mais alto, o que permite comprar mais tráfego e dominar o mercado.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"principios_core\",\n      \"concept\": \"mentalidade_investidor_clv\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Economia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Modelo Unificado (Núcleo - Filosofia): A mentalidade do Promotor e o objetivo de tornar a Venda Supérflua governam todas as decisões. A Comunicação de Cérebro Duplo é o padrão.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"filosofia_todd\",\n      \"concept\": \"modelo_unificado\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Filosofia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Modelo Unificado (Processo - E5): O processo de 5 estágios (Examine, Engineer, Evaluate, Enhance, Expand) fornece o roteiro do projeto.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"metodo_e5\",\n      \"concept\": \"modelo_unificado\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Modelo Unificado (Blocos - 3 Pilares): Dentro do estágio 'Engineer', os três pilares — Grande Ideia (BMI), Mecanismo Único (UM) e Oferta SIN — são criados.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"principios_core\",\n      \"concept\": \"modelo_unificado\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Filosofia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Modelo Unificado (Arquitetura - Tese): Os pilares são montados numa estrutura lógica usando a Tese do Funil de Marketing e as Sub-Crenças.\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"historia\",\n      \"concept\": \"modelo_unificado\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Modelo Unificado (Motor - Economia): O sistema é projetado para otimizar a equação CAC vs. AOV, permitindo a escala através de uma Mentalidade de Investidor focada no CLV.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"principios_core\",\n      \"concept\": \"modelo_unificado\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Economia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 1: Examine): [ ] Documentou as crenças, dores e desejos fundamentais do seu prospecto? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 1: Examine): [ ] Analisou os Ganchos, Promessas e Mecanismos Únicos dos 5 principais concorrentes? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 1: Examine): [ ] Determinou o nível de Sofisticação do Mercado (os prospectos são céticos)? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 2: Engineer - Argumento): [ ] Definiu a sua única Tese do Funil de Marketing (a crença central)? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 2: Engineer - Argumento): [ ] Mapeou as 3-5 Sub-Crenças necessárias para provar a sua Tese em sequência lógica? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 2: Engineer - Argumento): [ ] Desenvolveu a sua Grande Ideia de Marketing (BMI)? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 2: Engineer - Argumento): [ ] A sua BMI passa na lista de verificação da 'Marreta' (nova, única, impactante, etc.)? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao_bmi\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 2: Engineer - Argumento): [ ] Identificou e nomeou o seu Mecanismo Único (Existente, Não Dito ou Transubstanciado)? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao_um\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 3: Engineer - Oferta): [ ] Construiu uma Oferta 'SIN' que inclui os seis componentes? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao_oferta\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 3: Engineer - Oferta): [ ] Os seus bónus são altamente congruentes e valiosos? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao_oferta\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 4: Scripting): [ ] Estruturou os primeiros 75% da sua VSL para provar as suas Sub-Crenças em sequência, sem mencionar o produto? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao_vsl\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 4: Scripting): [ ] A sua VSL começa com uma Interrupção de Padrão eficaz? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao_vsl\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 4: Scripting): [ ] A oferta é introduzida apenas nos 25% finais, como a conclusão lógica do argumento? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao_vsl\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 5: Evaluate & Scale): [ ] Lançou um Funil Mínimo Viável (MVF) para testar a sua Tese e Oferta? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Checklist E5 (Fase 5: Evaluate & Scale): [ ] Está a medir o seu CAC e AOV? A equação está no ponto de equilíbrio ou melhor? \",\n    \"metadata\": {\n      \"category\": \"CRITERIOS_AVALIACAO\",\n      \"subcategory\": \"aprovacao_todd\",\n      \"concept\": \"checklist_aprovacao\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Armadilha Comum: Marketing de uma Commodity. Vender 'magnésio' em vez de um sistema proprietário. Contramedida: A disciplina de identificar ou criar um Mecanismo Único e construir a campanha em torno dele.\",\n    \"metadata\": {\n      \"category\": \"MECANISMO_UNICO\",\n      \"subcategory\": \"exemplos\",\n      \"concept\": \"mecanismos_fracos\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Unique Mechanism\",\n      \"negative_example\": true\n    }\n  },\n  {\n    \"content\": \"Armadilha Comum: Começar com uma Ideia Fraca. Usar uma ideia comum e tentar compensar com um copy exagerado. Contramedida: O rigoroso processo de desenvolvimento e validação da Grande Ideia de Marketing (BMI).\",\n    \"metadata\": {\n      \"category\": \"BIG_IDEA\",\n      \"subcategory\": \"exemplos\",\n      \"concept\": \"big_ideas_fracas\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Big Idea\",\n      \"negative_example\": true\n    }\n  },\n  {\n    \"content\": \"Armadilha Comum: Foco em Táticas em vez de Estratégia. Perseguir o 'objeto brilhante' mais recente. Contramedida: A adesão ao Framework E5, que força um foco na estratégia fundamental (pesquisa, mensagem, oferta).\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"filosofia_todd\",\n      \"concept\": \"foco_em_estrategia\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Filosofia\",\n      \"negative_example\": true\n    }\n  },\n  {\n    \"content\": \"Armadilha Comum: Apressar a Criação da Oferta. Tratar a oferta como uma reflexão tardia. Contramedida: A regra do E5 de que a Engenharia da Oferta precede a redação do copy.\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"oferta\",\n      \"concept\": \"funcao_oferta\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": true\n    }\n  },\n  {\n    \"content\": \"Armadilha Comum: Mentalidade Transacional. Focar-se no lucro imediato, o que limita a capacidade de escalar. Contramedida: Adotar a Mentalidade de Investidor, compreendendo a equação CAC vs. AOV e focando-se no CLV.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"principios_core\",\n      \"concept\": \"mentalidade_investidor_clv\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Economia\",\n      \"negative_example\": true\n    }\n  },\n{\n    \"content\": \"A abordagem da Tese de Marketing transforma a redação de VSLs de um exercício de escrita criativa para um de arquitetura lógica. O trabalho principal não é escrever prosa bonita, mas sim engenhar um argumento. É por isso que, quando a ideia e a estrutura são fortes, 'o copy torna-se a parte mais fácil'.\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"historia\",\n      \"concept\": \"tese_de_marketing\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"Armadilha de VSL: Muitas VSLs falham porque apresentam uma série de alegações, benefícios e histórias desconexas, sem uma Tese unificadora. O prospecto pode ser entretido, mas não é levado a uma conclusão inescapável, resultando numa falta de impulso persuasivo.\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"historia\",\n      \"concept\": \"tese_de_marketing\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"E5\",\n      \"negative_example\": true\n    }\n  },\n  {\n    \"content\": \"A 'arte' do copywriting (BMI, UM, Oferta SIN) está direta e inextricavelmente ligada à 'matemática' da compra de mídia. Um argumento melhor leva a uma taxa de conversão mais alta, o que aumenta o AOV, permite um CAC mais alto e, por fim, permite a escala.\",\n    \"metadata\": {\n      \"category\": \"FUNDAMENTOS\",\n      \"subcategory\": \"principios_core\",\n      \"concept\": \"motor_economico_cac_aov\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"Economia\",\n      \"negative_example\": false\n    }\n  },\n  {\n    \"content\": \"A eficácia de uma Interrupção de Padrão (Pattern Interrupt) diminui à medida que se torna comum. Táticas como os vídeos 'Doodle' (mão a desenhar) foram em tempos eficazes, mas agora tornaram-se comuns e perderam o seu poder. A chave é ser genuinamente diferente do que o prospecto espera.\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"lead\",\n      \"concept\": \"hook_primeiros_10s\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"VSL\",\n      \"negative_example\": true\n    }\n  },\n  {\n    \"content\": \"O 'Método VSL Educacional' funciona porque, ao ensinar algo útil, treina o prospecto a consumir o conteúdo sem os seus 'filtros de venda' ativados. Isto constrói confiança, autoridade e reciprocidade, tornando o prospecto mais recetivo quando a oferta é finalmente apresentada.\",\n    \"metadata\": {\n      \"category\": \"ESTRUTURA_VSL\",\n      \"subcategory\": \"historia\",\n      \"concept\": \"vsl_educacional_psicologia\",\n      \"source\": \"Essência Metodológica de Todd Brown\",\n      \"quote\": false,\n      \"author\": \"Derived\",\n      \"framework\": \"VSL\",\n      \"negative_example\": false\n    }\n  }\n\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        0
      ],
      "id": "511f484c-4029-4ccc-89b2-f91fbd000a19",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "a",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        528,
        0
      ],
      "id": "9263ab5c-9a83-467b-bd1c-d6c08536f00e",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Base Vetorial",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Base Vetorial",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Base Vetorial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5b26aaec-c523-47b0-8373-16f358d69735",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bcce57cd8c5d86a54f450a5ec0aa708ee07e39e93307489a66aef3ea44364e29"
  },
  "id": "NMHLN9T8lOhTgRWa",
  "tags": []
}